absl-py==2.3.1
accelerate==1.13.0
addict==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1763409923949/work
attrs==25.4.0
beautifulsoup4==4.13.5
bitsandbytes==0.49.2
brotlicffi @ file:///croot/brotlicffi_1736182461069/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1772001073725/work/certifi
cffi @ file:///croot/cffi_1736182485317/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click==8.3.1
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
conda-pack @ file:///croot/conda-pack_1752674263201/work
contourpy==1.3.3
cuda-bindings==12.9.4
cuda-pathfinder==1.2.2
cycler==0.12.1
datasets==4.8.5
debugpy @ file:///home/task_176242086284533/conda-bld/debugpy_1762421636131/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
Deprecated @ file:///work/ci_py311/deprecated_1676830461160/work
diffusers==0.31.0
dill==0.4.0
dominate==2.9.1
einops==0.7.0
ema-pytorch==0.7.9
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
filelock @ file:///croot/filelock_1744281381737/work
fonttools==4.59.0
frozenlist==1.8.0
fsspec @ file:///croot/fsspec_1753796001797/work
ftfy==6.3.1
future==1.0.0
gdown==5.2.0
gitdb==4.0.12
GitPython==3.1.46
gmpy2 @ file:///croot/gmpy2_1738085463648/work
greenlet==3.5.0
grpcio==1.74.0
h11==0.16.0
h5py==3.14.0
hf-xet==1.5.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==0.36.2
idna @ file:///croot/idna_1714398848350/work
imageio @ file:///croot/imageio_1738159938990/work
importlib_metadata @ file:///croot/importlib_metadata-suite_1732633488278/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipykernel_1770566133/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipython_1770040907/work
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///croot/jinja2_1741710844255/work
joblib==1.5.2
jsonpatch @ file:///croot/jsonpatch_1714483231291/work
jsonpointer @ file:///croot/jsonpointer_1753788433671/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_client_1767954655/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_core_1760643864/work
kagglehub==1.0.0
kagglesdk==0.1.16
kiwisolver==1.4.9
kornia==0.7.1
lazy_loader @ file:///croot/lazy_loader_1718176737906/work
lit @ file:///croot/llvm-package_1741800901749/work/llvm/utils/lit
lmdb==1.7.3
lpips==0.1.4
Markdown==3.8.2
markdown-it-py==4.0.0
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
matplotlib==3.10.9
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1761214490209/work
mdurl==0.1.2
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
mpmath @ file:///croot/mpmath_1690848262763/work
multidict==6.7.1
multiprocess==0.70.18
natsort==8.4.0
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx @ file:///croot/networkx_1737039604450/work
numpy==1.26.4
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.4.5
nvidia-nvtx-cu12==12.8.90
openai-clip==1.0.1
opencv-python==4.9.0.80
openni==2.3.0
opentelemetry-api @ file:///croot/opentelemetry-api_1743171649300/work
packaging @ file:///croot/packaging_1753775359799/work
pandas==3.0.0
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1770676243/work
peft==0.19.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pillow==12.2.0
piq==0.8.0
platformdirs==4.4.0
playwright==1.59.0
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1756321756983/work
propcache==0.4.1
protobuf @ file:///croot/protobuf_1742419705443/work/bazel-bin/python/dist/protobuf-5.29.3-cp311-abi3-linux_x86_64.whl#sha256=8e447a0e89a4eb6aec01414ffb2b6e0032288e10ce1cf0a8129e73be2c0c34fb
psutil==7.2.2
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pyarrow==23.0.1
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.12.5
pydantic_core==2.41.5
pyee==13.0.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
pyiqa==0.1.0
pyparsing==3.2.3
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytorch-msssim==1.0.0
PyWavelets==1.9.0
PyYAML==6.0.1
pyzmq @ file:///home/task_176237559798588/conda-bld/pyzmq_1762375611039/work
regex==2026.1.15
requests @ file:///croot/requests_1750426329888/work
rich==14.3.3
safetensors==0.7.0
scikit-image==0.22.0
scikit-learn==1.7.2
scipy==1.12.0
sentry-sdk==2.51.0
shellingham==1.5.4
six @ file:///croot/six_1744271502820/work
smmap==5.0.2
soupsieve==2.8
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
sympy @ file:///croot/sympy_1738108488918/work
tb-nightly==2.21.0a20251023
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
thop==0.1.1.post2209072238
threadpoolctl==3.6.0
tifffile @ file:///croot/tifffile_1741164537642/work
timm==1.0.19
tokenizers==0.22.2
torch==2.10.0+cu128
torchaudio @ file:///opt/conda/conda-bld/torchaudio_1747147230305/work
torchvision==0.25.0+cu128
tornado @ file:///croot/tornado_1748956929273/work
tqdm==4.67.3
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
transformers==4.57.6
triton==3.6.0
trl==1.4.0
typer==0.24.1
typer-slim==0.21.1
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3 @ file:///croot/urllib3_1750775463400/work
visdom==0.2.4
wandb==0.24.1
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1770634525285/work
websocket-client @ file:///croot/websocket-client_1715878298792/work
Werkzeug==3.1.3
wrapt @ file:///croot/wrapt_1736540904746/work
xformers==0.0.35
xxhash==3.6.0
yacs==0.1.8
yapf==0.43.0
yarl==1.22.0
zipp @ file:///croot/zipp_1732630741423/work
